.about-container {
  background-image: url("../../assets/Bg/About-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px 0;
}
