.banner-bg {
  background-image: url("../../assets/banner/Banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px 0;
}
