.review-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top: 1px solid #eae9ec;
}
.review-gird {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

@media only screen and (min-width: 250px) and (max-width: 575px) {
  .review-gird {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .review-gird {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .review-gird {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .review-gird {
    grid-template-columns: 1fr 1fr;
  }
}
