.secure-container {
  padding: 4rem 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  align-items: center;
}

@media only screen and (min-width: 250px) and (max-width: 575px) {
  .secure-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .secure-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .secure-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .secure-container {
    grid-template-columns: 1fr 1fr;
  }
}
