/* profile css start */
.profile-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.user-profile-img {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: top;
    border: 2px double #74a84a;
}
.profile-text {
    font-size: 14px;
}
.badge-info {
    background-color: #74a84a;
}
.user-img-container {
    border: 3px dashed #74a84a;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* padding: 5px; */
}
.updated-img {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.text-model-title {
    font-size: 20px !important;
    color: #74a84a !important;
}


/* profile css end */

/* media query css start small device */

@media only screen and (min-width: 250px) and (max-width: 575px) {
    .profile-container {
        width: 100%;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .profile-container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
